<h1 class="display-3">Übersicht</h1>
<div class="inner-container">
  <h4>{{user.firstName}} {{user.lastName}}</h4>
  <div class="pb-2">
    <app-employee-management [applications]="applications" [bookmarks]="bookmarks" [projects]="projects" [adminControls]="false" [selectedEmployee]="user"></app-employee-management>
  </div>
</div>
