<h1 class="display-3">Neues Projekt</h1>
<div class="inner-container pb-3">
  <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label">Titel*</label>
      <div class="col-sm-10">
        <input name="title" type="text" class="form-control" id="title" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
      </div>
    </div>
    <div class="form-group row">
      <label for="issueType" class="col-sm-2 col-form-label">Typ*</label>
      <div class="col-sm-10">
        <select name="issueType" class="form-control" id="issueType" formControlName="issuetype" [ngClass]="{ 'is-invalid': submitted && f.issuetype.errors }">
          <option value="Staffinganfrage" selected>Staffinganfrage</option>
          <option value="Studentisches Projekt">Studentisches Projekt</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="status" class="col-sm-2 col-form-label">Status*</label>
      <div class="col-sm-10">
        <select name="status" class="form-control" id="status" formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
          <option value="open" selected>Offen</option>
          <option value="eskaliert">Eskaliert</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="labels" class="col-sm-2 col-form-label">Stichwörter</label>
      <div class="col-sm-10">
        <input name="labels" type="text" class="form-control" id="labels" [(ngModel)]="labelsInput" [ngModelOptions]="{standalone: true}">
        <small>Stichwörter durch Komma getrennt eingeben (z.B.: 'Java, Spring Boot, Angular')</small>
      </div>
    </div>
    <div class="form-group row">
      <label for="job" class="col-sm-2 col-form-label">Aufgabe</label>
      <div class="col-sm-10">
        <textarea name="job" type="text" class="form-control custom-textarea" id="job" rows="4" [(ngModel)]="project.job" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="lob" class="col-sm-2 col-form-label">Zuständige LOB*</label>
      <div class="col-sm-10">
        <input name="lob" type="text" class="form-control" id="lob" formControlName="lob" [ngClass]="{ 'is-invalid': submitted && f.lob.errors }">
      </div>
    </div>
    <div class="form-group row">
      <label for="skills" class="col-sm-2 col-form-label">Skills</label>
      <div class="col-sm-10">
        <input name="skills" type="text" class="form-control" id="skills" [(ngModel)]="project.skills" [ngModelOptions]="{standalone: true}">
        <small>Skills durch Komma getrennt eingeben (z.B.: 'Java, Spring Boot, Angular')</small>
      </div>
    </div>
    <div class="form-group row">
      <label for="customer" class="col-sm-2 col-form-label">Kunde</label>
      <div class="col-sm-10">
        <input name="customer" type="text" class="form-control" id="customer" [(ngModel)]="project.customer" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-group row">
      <label for="location" class="col-sm-2 col-form-label">Einsatzort</label>
      <div class="col-sm-10">
        <input name="location" type="text" class="form-control" id="location" [(ngModel)]="project.location" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-group row">
      <label for="start" class="col-sm-2 col-form-label">Start</label>
      <div class="col-sm-10">
        <input name="start" type="text" class="form-control" id="start" [(ngModel)]="project.operationStart" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-group row">
      <label for="end" class="col-sm-2 col-form-label">Ende</label>
      <div class="col-sm-10">
        <input name="end" type="text" class="form-control" id="end" [(ngModel)]="project.operationEnd" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-group row">
      <label for="elongation" class="col-sm-2 col-form-label">Option auf Verlängerung</label>
      <div class="col-sm-10">
        <input name="elongation" type="text" class="form-control" id="elongation" [(ngModel)]="project.elongation" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-group row">
      <label for="effort" class="col-sm-2 col-form-label">Aufwand</label>
      <div class="col-sm-10">
        <input name="effort" type="text" class="form-control" id="effort" [(ngModel)]="project.effort" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Beschreibung*</label>
      <div class="col-sm-10">
        <textarea name="description" type="text" class="form-control custom-textarea" id="description" rows="4" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
      </div>
    </div>

    <!--  Info  -->
    <small *ngIf="submitted && form.invalid" class="invalid d-block">Du hast nicht alle benötigten Felder ausgefüllt!</small>
    <small class="mb-3 d-block">Felder, die mit einem Stern markiert sind, müssen ausgefüllt werden.</small>

    <!--  Checkbox and Button(s)  -->
    <div *ngIf="!edit" class="form-check mb-1">
      <input class="form-check-input" id="navigateOnSubmit" name="navigateOnSubmit" type="checkbox" [(ngModel)]="navigateOnSubmit" [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="navigateOnSubmit">Weiteres Projekt erstellen?</label>
    </div>
    <button *ngIf="!edit" type="submit" class="btn btn-primary">Projekt erstellen</button>

    <button *ngIf="edit" type="submit" class="btn btn-primary">Änderungen speichern</button>
  </form>
</div>
