<div *ngIf="message" class="sticky" [ngClass]="{ 'mt-1': true,
                                  'alert': message,
                                  'alert-success' : message.type === 'success',
                                  'alert-danger': message.type === 'error',
                                  'alert-info': message.type === 'info',
                                  'alert-warning': message.type === 'warning' }">
  {{message.text}}
  <button (click)="clearAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
