<button id="top-badge" class="btn btn-primary back-to-top-badge" (click)="scrollTop()">
  <fa-icon [icon]="faChevronUp"></fa-icon>
</button>

<div class="container background-inner" style="min-height: 0;">

<nav class="navbar navbar-expand-lg navbar-light custom-navbar sticky-top">
    <button style="border: 0; outline: 0;" class="navbar-toggler" type="button" (click)="snav.toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/"><img id="brand-logo" src="/assets/Adesso_AG_logo.png"></a>         

    <div id="navbarContent">
        <ul *ngIf="isUserAuthenticated()" class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/overview" routerLinkActive="active-link">Übersicht</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/browse" routerLinkActive="active-link">Offene Projekte</a>
            </li>
            <li *ngIf="isAdmin" class="nav-item">
              <a class="nav-link" routerLink="/projects/new" routerLinkActive="active-link">Neues Projekt</a>
            </li>
            <li *ngIf="isAdmin" class="nav-item">
              <a class="nav-link" routerLink="/admin" routerLinkActive="active-link">Mitarbeiter</a>
            </li>
            <li class="nav-item" id="logout">
              <a class="nav-link" routerLink="/logout" (click)="logout()">{{username}} abmelden</a>
            </li>
          </ul>
    </div>
  </nav>

  <div class="navbar-divider"></div>

</div>

  <mat-sidenav-container class="sidenav-container" id="belowNavbar">

    <mat-sidenav #snav id="side-nav">
      <mat-nav-list id="nav-list">
        <div class="side-link" id="side-username">{{username}}</div>
        <a (click)="snav.toggle()" routerLink="/overview" routerLinkActive="active-link"><div class="side-link"><mat-icon class="nav-icon" >person</mat-icon>Übersicht</div></a>
        <a (click)="snav.toggle()" routerLink="/browse" routerLinkActive="active-link"><div class="side-link"><mat-icon class="nav-icon">folder_open</mat-icon>Offene Projekte</div></a>
        <a (click)="snav.toggle()" routerLink="/projects/new" routerLinkActive="active-link" *ngIf="isAdmin"><div class="side-link"><mat-icon class="nav-icon">create</mat-icon>Neues Projekt</div></a>
        <a (click)="snav.toggle()" routerLink="/admin" routerLinkActive="active-link" *ngIf="isAdmin"><div class="side-link"><mat-icon class="nav-icon">people</mat-icon>Mitarbeiter</div></a>
        <a (click)="snav.toggle()" routerLink="/logout" (click)="logout()"><div class="side-link" id="side-logout"><mat-icon class="nav-icon">chevron_left</mat-icon>abmelden</div></a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content" id="contentWindow">

    <div class="container background-inner">
        
        <app-alert></app-alert>
        <router-outlet></router-outlet>
        
    </div>

    </mat-sidenav-content>
  </mat-sidenav-container>