<div class="row">
  <div class="col">
    <div class="wrapper">
      <h3>
        <fa-icon [icon]="faTimes" size="7x" style="color: lightgray"></fa-icon>
      </h3>
      <h3 class="display-4">{{message}}</h3>
      <p class="mt-2">Gehe zum <a href="/">Project Board</a>.</p>
    </div>
  </div>
</div>
