<div class="sticky">
  <h4 *ngIf="adminControls">Details</h4>
  <div *ngIf="selectedEmployee" class="details">

    <!--  User Info  -->
    <div class="inset">
      <div *ngIf="adminControls" class="row">
        <div class="col-4">Name:</div>
        <div class="col right">{{selectedEmployee.firstName}} {{selectedEmployee.lastName}}</div>
        <br>
      </div>
      <div class="row">
        <div class="col-4">Status:</div>
        <div class="col right">{{selectedEmployee.accessInfo.hasAccess || selectedEmployee.boss ? 'Freigeschaltet' : 'Nicht freigeschaltet'}}</div>
        <br>
      </div>
      <div [ngClass]="{'row': true, 'disabled': !selectedEmployee.accessInfo.hasAccess && !selectedEmployee.boss}">
        <div class="col-4">Freigeschaltet bis:</div>

        <!-- Differentiate between boss and normal user for readability -->
        <div class="col right" *ngIf="selectedEmployee.boss">Dauerhaft (Führungskraft)</div>
        <div class="col right" *ngIf="!selectedEmployee.boss">{{selectedEmployee.accessInfo.hasAccess ? (selectedEmployee.accessInfo.accessEnd | date : 'dd.MM.yyyy') : '-'}}</div>
      </div>
      <div *ngIf="adminControls" class="row">
        <div class="col-4">Email:</div>
        <div class="col right">{{selectedEmployee.email}}</div>
      </div>
    </div>

    <!--  Admin Controls  -->
    <div *ngIf="adminControls" class="mt-2 pt-1 border-top">
      <form *ngIf="!selectedEmployee.accessInfo.hasAccess && !selectedEmployee.boss">
        <div class="form-group">
          <label class="select-label" for="durationSelect">Dauer der Freischaltung</label>
          <select #duration required class="select form-control" id="durationSelect">
            <option *ngFor="let option of numberOfDaysSelect">{{option}}</option>
          </select>
          <button (click)="activate(duration)" class="btn btn-primary btn-activate">Zugang aktivieren</button>
        </div>
      </form>
      <div>
        <button (click)="deactivate()" *ngIf="selectedEmployee.accessInfo.hasAccess && !selectedEmployee.boss" class="btn btn-danger btn-deactivate">Zugang deaktivieren</button>
      </div>
    </div>
  </div>

  <!--  Bookmarks  -->
  <ng-container *ngIf="!adminControls && !selectedEmployee.boss">
    <h4>Lesezeichen</h4>
    <div class="card" *ngFor="let b of bookmarks; index as i" [ngClass]="{'border-bottom mb-2': i<bookmarks.length-1}">
      <div class="card-body">
        <h5 class="card-title">{{b.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted"><a routerLink="/browse/{{b.id}}">Zur Beschreibung</a></h6>
        <p class="card-text">
          <small class="link-red" (click)="removeBookmark(b.id)">Lesezeichen entfernen</small>
        </p>
      </div>
    </div>
    <div class="inset" *ngIf="!bookmarks || bookmarks.length === 0">Du hast keine Lesezeichen.</div>
  </ng-container>

  <!--  Applications  -->
  <ng-container *ngIf="selectedEmployee && !selectedEmployee.boss">
    <h4>Anfragen</h4>
    <div class="card" *ngFor="let a of applications; index as i" [ngClass]="{'border-bottom mb-2': i<applications.length-1}">
      <div class="card-body">
        <h5 class="card-title">{{a.project.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted"><a routerLink="/browse/{{a.project.id}}">Zur Beschreibung</a></h6>
        <p class="card-text">
          Kommentar: {{a.comment}}<br>
          Datum: {{a.date | date : 'dd.MM.yyyy'}}<br>
          <small *ngIf="!adminControls && revokeable" class="link-red" (click)="revokeApplication(a.id)">Anfrage zurückrufen</small>
        </p>
      </div>
    </div>
    <div class="inset" *ngIf="!applications || applications.length === 0">
      {{!adminControls ? 'Du hast keine Projekte angefragt.' : 'Keine Projektanfragen.'}}
    </div>
  </ng-container>

  <!--  Created Projects-->
  <ng-container *ngIf="!adminControls && isAdmin()">
    <h4>Erstellte Projekte</h4>
    <div class="card" *ngFor="let p of projects; index as i" [ngClass]="{'border-bottom mb-2': i<projects.length-1}">
      <div class="card-body">
        <h5 class="card-title">{{p.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted"><a routerLink="/browse/{{p.id}}">Zur Beschreibung</a></h6>
        <p class="card-text">
          <small class="link-blue mr-3" (click)="editProject(p.id)">Bearbeiten</small>
          <small class="link-red" (click)="deleteProject(p.id)">Projekt löschen</small>
        </p>
      </div>
    </div>
    <div class="inset" *ngIf="!projects || projects.length === 0">Du hast keine Projekte erstellt.</div>
  </ng-container>

  <p *ngIf="!selectedEmployee">Kein Mitarbeiter ausgewählt.</p>
</div>
