@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.sticky {
  top: 5rem;
  position: sticky;
}

.disabled {
  color: lightgrey;
}

.details p {
  display: inline-block;
}

.btn-activate {
  display: inline-block;
  vertical-align: top;
  margin-left: 1rem;
}

.btn-deactivate {
  margin-top: 32px;
}

.select {
  display: inline-block;
  width: auto;
}

.form-group {
  margin: 0;
}

.select-label {
  display: block;
}

.inset {
  padding-left: 1rem;
}

.link-red {
  color: $red;
  cursor: pointer;
}

.link-blue {
  color: $blue;
  cursor: pointer;
}

.link-red:hover {
  color: darken($red, 15);
  text-decoration: underline;
}

.link-blue:hover {
  color: darken($blue, 15);
  text-decoration: underline;
}

@include media-breakpoint-down(sm) {
  .sticky {
    top: 0;
    position: relative;
  }

  .inset {
    padding-left: 0;
  }
}
