@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';

.comment {
  margin-bottom: 1rem;
}

.comment-label {
  font-weight: bold;
}

.comment-textarea {
  width: 100%;
  max-width: 500px;
  overflow-y: auto;
  resize: none;
  display: block;
}
