@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.badge-width {
  width: 1.5rem;
}

.badge-red {
  color: #dc3545;
}

@include media-breakpoint-down(sm) {
  h4 {
    padding-left: 15px;
  }

  .col-md-6 {
    padding: 0;
  }

  .list-group-item {
    border-left: 0;
    border-right: 0;
  }

  .list-group-item:first-child,
  .list-group-item:last-child {
    border-radius: 0;
  }
}
