@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.appliedInfo {
  color: gray;
  padding-bottom: 0.3rem;
}

.sticky {
  top: 4rem;
  position: sticky;
}

.clip {
  max-height: calc(100vh/* total view height */ - 4rem/* top property from sticky class */ - 16px /* margin-top from details-header */
  );
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e3f2fd;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($primary, 10);
}

@include media-breakpoint-down(md) {

}

@include media-breakpoint-down(sm) {
  .sticky {
    top: 0;
    position: relative;
    padding: 15px;
    background-color: lightgrey;
  }

  .left-side {
    font-weight: 500;
  }

  .right-side {
    padding-left: 20px;
    padding-bottom: 0.5rem;
  }

  .clip {
    max-height: 100%;
    overflow: auto;
  }
}
