<div id="scrollable-area" class="sticky clip">
  <h4>Projekt-Details
    <fa-icon title="{{studTooltip}}" *ngIf="selectedProject?.issuetype == 'Studentisches Projekt'" class="ml-2" [icon]="faGradCap"></fa-icon>
    <fa-icon title="{{bmTooltip}}" *ngIf="bookmark" class="ml-2" [icon]="faBookmark"></fa-icon>
  </h4>
  <div *ngIf="selectedProject" class="details">
    <div class="row">
      <div class="col-sm-3 left-side">Schlüssel:</div>
      <div class="col-sm right-side">{{selectedProject.id}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Titel:</div>
      <div class="col-sm right-side">{{selectedProject.title}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Typ:</div>
      <div class="col-sm right-side">{{selectedProject.issuetype}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Stichwörter:</div>
      <div class="col-sm right-side">
        <ng-container *ngFor="let l of selectedProject.labels; index as i">{{l}}{{i < selectedProject.labels.length-1 ? ', ' : ''}}</ng-container>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Aufgabe:</div>
      <div class="col-sm right-side">{{selectedProject.job}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Zuständige LOB:</div>
      <div class="col-sm right-side">{{selectedProject.lob}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Skills:</div>
      <div class="col-sm right-side">{{selectedProject.skills}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Kunde:</div>
      <div class="col-sm right-side">{{selectedProject.customer}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Einsatzort:</div>
      <div class="col-sm right-side">{{selectedProject.location}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Beginn Einsatz:</div>
      <div class="col-sm right-side">{{(selectedProject.operationStart)}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Ende Einsatz:</div>
      <div class="col-sm right-side">{{selectedProject.operationEnd}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Option auf Verlängerung:</div>
      <div class="col-sm right-side">{{selectedProject.elongation}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Aufwand:</div>
      <div class="col-sm right-side">{{selectedProject.effort}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3 left-side">Beschreibung:</div>
      <div class="col-sm right-side">{{selectedProject.description}}</div>
    </div>

    <div class="mt-3" *ngIf="!isUserBoss">
      <div class="appliedInfo" *ngIf="!applicable">
        <small>Du hast dieses Projekt bereits angefragt</small>
      </div>
      <button [disabled]="!applicable" class="btn btn-primary mr-3 mb-3" (click)="requestProject()">Projekt anfragen</button>
      <button *ngIf="!bookmark" class="btn btn-outline-secondary mb-3" (click)="addBookmark()">Lesezeichen hinzufügen</button>
      <button *ngIf="bookmark" class="btn btn-outline-secondary mb-3" (click)="removeBookmark()">Lesezeichen entfernen</button>
    </div>
  </div>
  <p *ngIf="!selectedProject">Kein Projekt ausgewählt.</p>
</div>
