@import 'functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

button,
button span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loading-dots {
  text-align: center;
  font-size: 5rem;
  color: grey;
  animation: blink 1.2s steps(5, start) infinite;
}

@keyframes blink {
  to {
    color: lightgrey;
  }
}

@include media-breakpoint-down(sm) {
  h4 {
    padding-left: 15px;
  }

  .col-md-6 {
    padding: 0;
  }

  .list-group-item {
    border-left: 0;
    border-right: 0;
  }

  .list-group-item:first-child,
  .list-group-item:last-child {
    border-radius: 0;
  }

  .search {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
  }
}
